.search-bar {
    margin-left: 40px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    width: 200px;
    height: 20px;
}
@media (max-width: 600px) {
    .search-bar {
        width: 200px;
        height: 15px;
        margin-right: 40px;
    }

}

@media (min-width: 900px) {
    .search-bar {
        margin-left: 150px;
        margin-right: 50px;
        width: 280px;
    }
}